{% extends "base.html" %}
{% block body %}

<section>
    ...
</section>

<section>
    <ul class="list__bullet--none">
        <li>
            <h2>/list</h2>
            <ul class="list__bullet--none">
                <li>
                    <h3>/create</h3>
                    <ul>
                        <li>
                            <b>Description: </b>
                        </li>
                        <li>
                            <b>Parameters: </b>
                        </li>
                        <li>
                            <b>Returns: </b>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>/read</h3>
                </li>
                <li>
                    <h3>/update</h3>
                </li>
                <li>
                    <h3>/delete</h3>
                </li>
            </ul>
        </li>
    </ul>
</section>

<!-- section... -->
{% endblock %}